<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>{% if index != true %}{{ title }} - {% endif %}Gosuke Miyashita</title>
  <!-- TODO: change name and description -->
  <meta name="author" content="Gosuke Miyashita" />
  <meta name="description" content="A fantastic blog that is fantastic." />

  <link rel="alternate" type="application/rss+xml" href="/atom.xml" />

  <link rel="stylesheet" href="/css/base.css" type="text/css" media="screen, projection" />
  <link rel="stylesheet" href="/css/pygments.css" type="text/css" />
  <link media="only screen and (max-device-width: 480px)" href="/css/iphone.css" type="text/css" rel="stylesheet" />
  <link media="only screen and (device-width: 768px)" href="/css/iphone.css" type="text/css" rel="stylesheet" />
  <link href='https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz' rel='stylesheet' type='text/css'>
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js"></script>
  <script type="text/javascript" src="/js/application.js"></script>
</head>

<body>
  <section class="sidebar">
    <a href="/">
      <!-- TODO: change this gravatar URL -->
      <img src="https://s.gravatar.com/avatar/0d5d8fb9cc4c06f581825f5a61d3f5f1?s=150" height="75" width="75" class="avatar" />
    </a>

    <!-- TODO: change name -->
    <section class="name">
      <a href="/">
        <span id="zach">Gosuke</span>
        <span id="holman">Miyashita</span>
      </a>
    </section>

    <!-- TODO: change links -->
    <section class="meta">
      <a href="https://github.com/mizzy"><img src="/images/github.png" /></a>
      <a href="https://twitter.com/gosukenator"><img src="/images/twitter.png"></a>
      <a href="/atom.xml"><img src="/images/rss.png" /></a>
    </section>

    <!--
    <section class="sections">
      <ul>
        <li><a href="/about.html">about</a></li>
        <li><a href="/">posts</a></li>
      </ul>
    </section>
    -->

  </section>

<section class="content autopagerize_page_element">
  <h1>
    <a href="{{ link }}">{{ title }}</a>
  </h1>

  <section class="byline">
    {{ page.date | date: "%B %e, %Y" }}
  </section>

  {{ content }}

  <div class="pagination">
    {% if next_page %}
    <a href="{{ next_page.link }}" rel="next">next post</a>
    {% endif %}
    
    {% if prev_page %}
    <a href="{{ prev_page.link }}">previous post</a>
    {% endif %}
  </div>

</body>

</html>
